* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Bagnard";
  font-size: 20pt;
}
h2 {
  font-family: "Baskerville";
  font-style: italic;
  font-weight: 100;
  font-size: 16pt;
}
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.nametag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.25in;
  height: 1in;
  text-align: center;
  border: 3pt double black;
  margin: 0.125in;
}
